@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 25px;
    font-family: sans-serif;
}

body {
    background-color: rgb(255, 231, 254);
}

#doc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 231, 254);
}

h1 {
    color: rgb(182, 0, 182);
    text-shadow: 0.5vmin 0.5vmin 1vmin rgb(173, 60, 201);
    font-family: 'Bebas Neue';
    letter-spacing: 5px;
    font-size: 10vmax;
}

#calc {
    width: min(90%, 20rem);
    padding: 1.5rem;
    background-color: purple;
    background-image: linear-gradient(purple, indigo);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border-bottom: 3vmin solid purple;
    border-right: 3vmin solid rgb(182, 0, 182);
    border-radius: 5%;
}

#screen {
    width: 100%;
    padding: 1vmin/*0.625rem*/;
    font-size: 7vmin;
    font-family:'Kelly Slab', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: right;
    background-color: rgb(222, 245, 167);
    box-shadow: inset -3px -3px 10px lawngreen, inset 3px 3px 20px lawngreen;
    overflow: hidden;
}

.all-buttons {
    display: flex;
    width: 100%;
    gap: 5vmin;
}

#nums,
#ops {
    display: flex;
    flex-direction: column;
}

#ops {
    gap: 0;
    width: 30%;
}

#nums {
    justify-content: center;
    width: 80%;
    gap: 3vmin;
}

.row {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgb(255, 184, 251);
    font-family:'Thasadith', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-radius: 10%;
    border-right: 0.4rem solid orchid;
    border-bottom: 0.4rem solid mediumorchid;
    border-top: 0.4rem solid transparent;
    border-left: 0.4rem solid transparent;
}

button.active {
    border-top: 0.4rem solid darkgrey; 
    border-left: 0.4rem solid lightgrey; 
    border-right: 0.4rem solid transparent; 
    border-bottom: 0.4rem solid transparent;
}

.num,
.plus-neg,
.decimal {
    width: 30%;
    height: 100%;
    color: purple;
}

.non,
.decimal,
.plus-neg {
    color: rgb(173, 60, 201); 
    padding: 1vmin;
    font-size: 5vmin;
}

.num {
    font-size: 6vmin;
}